{% extends 'layout.html' %}

{% block title %}
    Add Quiz
{% endblock %}

{% block content %}
<h1 class="display-1">
    Add Quiz
</h1>

<form action="{{ url_for('add_quiz_post') }}" method="post" class="form">
    <div class="form-group">
        <label for="name" class="form-label">Quiz Title:</label>
        <input type="text" 
        name="name" 
        id="name" 
        class="form-control"
        required>
    </div>

    <div class="form-group">
     <label for="chapter_id" class="form-label">Chapter:</label>
     <select name="chapter_id" id="chapter_id" class="form-control" required>
         <option value="" disabled selected>Select Chapter</option>
         {% for chap in chapters %}
             <option value="{{ chap.id }}">{{ chap.name }}</option>
         {% endfor %}
     </select>
 </div>
 
 </select>
    <div class="form-group">
        <label for="date_of_quiz" class="form-label">Date of Quiz:</label>
        <input type="date" 
        name="date_of_quiz" 
        id="date_of_quiz" 
        class="form-control" 
        required>
    </div>

    <div class="form-group">
        <label for="time_duration" class="form-label">Time Duration (HH:MM):</label>
        <input type="time" 
        name="time_duration" 
        id="time_duration" 
        class="form-control" 
        required>
    </div>

    <div class="form-group">
        <label for="remarks" class="form-label">Remarks (Optional):</label>
        <textarea name="remarks" 
        id="remarks" 
        class="form-control"></textarea>
    </div>

    

    <button type="submit" class="btn btn-success">
        <i class="fas fa-plus"></i>
        Add Quiz
    </button>
</form>
{% endblock %}
