<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz_master
        
    </title>
</head>
   
<body>
   <h1>Login</h1>
   <form action="" class="a-form">
         <div class="a-form-group">
              <label for="username" class="a-form-label">Username</label>
              <input type="text" id="username" class="a-form-control">
         </div>
         <div class="a-form-group">
              <label for="password" class="a-form-label">Password</label>
              <input type="password" id="password" class="a-form-control">
         </div>
         <button type="submit" class="a-button">Login</button>
   </form>
</body>
</html>